* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemen-list {
  width: 50vw;
    height: 100vh;
    background-color: #8e75cd;
}
.pokemen-card{
  width: 50vw;
  height: 100vh;
  background-color: #3e816b;
}